html.
	<head>
		<meta charset="utf-8">

		<script type="text/javascript" src="javascripts/loader.js"></script>

		<script src="http://connect.facebook.net/en_US/all.js"></script>

		<script type="text/javascript" src="http://platform.linkedin.com/in.js">
			api_key: 75nhi6gsa4ygff 
			onLoad: onLinkedInLoad
			authorize: false
			lang: en_US	
		</script>

	</head>
	<body>

	<h1>Hello</h1>

	<script type="IN/Login">
		Hello, <?js= firstName ?> <?js= lastName ?>.
	</script>

	<div id="fb-root"></div>
	<script>
	window.fbAsyncInit = function() {
		FB.init({
		appId      : '725870067504524',
		xbfml : true,
		version: 'v2.1'
		});
	};
	(function(d){
	   var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
	   js = d.createElement('script'); js.id = id; js.async = true;
	   js.src = "//connect.facebook.net/en_US/all.js";
	   d.getElementsByTagName('head')[0].appendChild(js);
	 }(document));
	</script>
	<div class="fb-login-button">Login with Facebook</div>


	<div id="textarea"></div>

	</body>

