html.
	<head>
		<meta charset="utf-8">

		<script type="text/javascript" src="javascripts/loader.js"></script>

		<script type="text/javascript" src="http://platform.linkedin.com/in.js">
			api_key: 75nhi6gsa4ygff 
			onLoad: onLinkedInLoad
			authorize: false
			lang: en_US	
		</script>

	</head>
	<body>

	<h1>Hello</h1>
	<h2>Harrision Kiang is an </h2><h1>imposter</h1>
	<h3>test</h3>

	<script type="IN/Login">
		Hello, <?js= firstName ?> <?js= lastName ?>.
	</script>


	<script type="IN/FullMemberProfile" data-id="Hv3V1lv4SQ" data-firstName="Eugene" data-lastName="O'Neill"></script>

	</body>

